.subtable {
	display: inline-block;
	margin: 0;
}

tr::after {
    /* content: "-";
    display: block; */
    line-height: 0em;
		height: 0;
}

table {
	padding: 0px;
	border-spacing: 0em;
	border-collapse: separate;
	border: 5px solid black;
}

tr {
	border-collapse: inherit;
	max-height: 137px;
}

th {
	padding: 0px;
	margin: 0;
}

td {
	border: 1px solid black;
	height: 40px;
	width: 40px;
	margin: 0;
}

.selected {
	text-align: center;
}

.XSelect {
	background-color: rgb(150, 200, 250);
}

.OSelect {
	background-color: rgb(250, 180, 150);
}
.ASelect {
	background-color: rgb(225, 140, 225);
}

.Xwinner {
	border: 5px solid rgb(150, 200, 250);
}

.Owinner {
	border: 5px solid rgb(250, 180, 150);
}

.Awinner {
	border: 5px solid rgb(225, 140, 225);
}

.grayed {
	background-color: rgb(100, 100, 100);
}
